.left-margin {
	margin-left: 7px;
}

.bottom-margin {
	margin-bottom: 5px;
}

.top-margin {
	margin-top: 20px;
}


/*body {
	background: url(../img/sports.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  /*background-color: red;*/
}*/