body { 
  background: url(../img/sports.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-bottom: 20px;
}

.shadow {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 10px 10px #888;
}

.banner-small-pics {
  margin-top: 30px;
}

.form-group-top {
  margin-top: 10px;
}

.form-group-bottom {
  margin-bottom: 10px;
}